<%# <form action="/users" method="POST" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email">

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">

  <button type="submit">Submit</button>
</form> %>

<%
=begin %>
<%= form_tag("/users", method: "POST") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>

<%
=end %>

<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :username, "Your username here:" %>
  <%= form.text_field :username, value: "John Doe" %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>
